.typography {
  display: block;
  color: inherit;

  // color
  &--base {
    color: var(--text-color--base);
  }
  &--weak {
    color: var(--text-color--weak);
  }
  &--primary {
    color: var(--text-color--primary);
  }

  // size
  &--caption {
    font-size: var(--typography-size--caption);
    font-weight: var(--typography-weight--caption);
  }
  &--body {
    font-size: var(--typography-size--body);
    font-weight: var(--typography-weight--body);
  }
}
